@media screen and (max-width: 767px) {
  .hamburger-menu {
    display: block;
    position: relative;
    width: 26px;
    height: 24px;
    text-indent: -9999px;
    transition: all 0.2s ease;
    z-index: 2;
    & span {
      display: block;
      position: absolute;
      top: 10px;
      left: 0;
      right: 0;
      height: 3px;
      background: $primary-text-color;
      &:after,
      &:before {
        content: "";
        position: absolute;
        display: block;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: $primary-text-color;
        -webkit-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out;
      }
      &:before {
        top: -8px;
      }
      &:after {
        bottom: -8px;
      }
    }
  }
  .intouch-view {
    .intouch-header,
    .contact-form-wrapper {
      max-width: 100%;
    }

    .intouch-header {
      padding-left: 6.25%;
      padding-right: 6.25%;
    }

    .header-wrapper {
      .navigation,
      .header-button-wrapper {
        display: none;
      }
    }

    .contact-form-section {
      padding-bottom: 0px;
      background-size: contain;
      background-position: 100% 0;
      padding: 40px 0 0px;

      .contact-form-wrapper {
        .headers-wrapper,
        .form-wrapper {
          width: 100%;
        }

        .contact-form {
          padding: 0px 20px;
        }

        .headers-wrapper {
          margin-bottom: 25px;

          h1 {
            padding: 0px 20px;
            font-size: 1.625em;
            line-height: 1.23em;
          }

          div {
            font-size: 1.125em;
            line-height: 1.444em;
            padding: 0px 20px;
          }
        }

        .contact-form-info {
          margin-right: 0px;
          border-radius: 0px;
          padding: $general-padding;
          margin-top: 24px;
          width: 100%;
        }
        .visit-us-wrapper {
          flex-wrap: wrap;
          max-width: 100%;
          margin-top: -1px;
          position: static;
          background-color: $light-white;
          border-radius: 0;

          .laptop-svg {
            display: none;
          }

          .visit-us {
            flex-wrap: wrap;
            background-color: $light-white;
            padding: 24px 20px;
            max-width: 100%;
            position: static;

            h3 {
              margin-bottom: 15px;
            }
          }
        }
      }
    }

    .form-button-wrapper {
      display: flex;
      justify-content: center;
    }

    & .about-wrapper {
      flex-wrap: wrap;
      padding: $general-padding;

      .about-links-wrapper {
        padding-left: 0px;

        .social-media-links-wrapper {
          margin-bottom: 35px;
          margin-top: 5px;
        }

        .mailbox-svg {
          bottom: -12px;
          left: 115px;
          right: auto;
        }
      }
    }

    .intouch-footer {
      padding: $general-padding;
      z-index: 1;
      position: relative;

      .footer-wrapper,
      .footer-nav-list {
        flex-direction: column;
        align-items: flex-start;
      }

      li {
        padding: 0px;
        margin-bottom: 24px;
      }
    }
  }

  .form-section-content {
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) and (max-width: 1163px) {
  .hamburger-menu {
    display: none;
  }
  .intouch-view {
    .header-wrapper,
    .about-wrapper,
    .footer-wrapper {
      padding-left: 40px;
      padding-right: 40px;
    }
    .contact-form-section {
      .contact-form-wrapper {
        .headers-wrapper {
          padding-left: 40px;
          padding-right: 40px;
        }

        .contact-form-info {
          margin-right: 0px;
        }

        .visit-us-wrapper .visit-us {
          margin: 0px 40px;
          bottom: -30px;
          padding: 30px;
        }
      }
    }

    .about-wrapper .about-links-wrapper .mailbox-svg {
      right: 40px;
    }
  }
}

@media screen and (min-width: 1164px) {
  .intouch-view {
    .header-wrapper,
    .about-wrapper,
    .footer-wrapper {
      padding-left: 0px;
      padding-right: 0px;
    }
    .contact-form-section {
      .contact-form-wrapper {
        .headers-wrapper,
        .form-section-content {
          padding-left: 0px;
          padding-right: 0px;
        }

        .visit-us-wrapper .visit-us {
          margin: 0px;
        }
      }
    }

    .about-wrapper .about-links-wrapper .mailbox-svg {
      right: 0px;
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  body {
    .intouch-view {
      .intouch-header,
      .contact-form-wrapper,
      .visit-us-wrapper {
        max-width: 690px;
        margin: auto;
      }

      .contact-form-section {
        .contact-form-wrapper {
          .form-section-content {
            .form-wrapper,
            .contact-form-info {
              width: 320px;
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 1023px) {
    body {
      line-height: 1.5em;
      font-size: 16px;
      .intouch-view {
        .intouch-header {
          .header-wrapper {
            .navigation {
              nav {
                ul {
                  li {
                    padding: 0 10px;
                  }
                }
              }
            }

            .header-button-wrapper {
              .header-button {
                padding: 8px 25px 6px;
                white-space: nowrap;
                font-size: 16px;
              }
            }
          }
        }

        .contact-form-wrapper {
          .visit-us-wrapper {
            .visit-us {
              h3 {
                margin-right: 50px;
                white-space: nowrap;
              }
            }

            .laptop-svg {
              bottom: 124px;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) and (max-width: 1163px) {
  .intouch-view {
    .contact-form-section {
      .contact-form-wrapper {
        .form-section-content {
          padding-left: 40px;
          padding-right: 40px;
        }
      }
      .visit-us-wrapper {
        .laptop-svg {
          bottom: 102px;
        }
      }
    }
  }
}
